<link rel="stylesheet" type="text/css" href="src/css/MainView.css">

<ons-page>

  <ons-toolbar>
    <div class="center">ToDo</div>
  </ons-toolbar>

  <my-date-view></my-date-view>

  <ons-list style="margin-top:150px;border-top: none"><ons-list-item style="line-height: 1; padding: 0;">
    <ons-row class="action">
      <ons-col class="action-col">
        <div class="action-icon"><ons-icon icon="ion-ios-pulse"></ons-icon></div>
        <div class="action-label">Stats</div>
      </ons-col>

      <ons-col class="action-col">
        <div class="action-icon"><ons-icon icon="ion-ios-book-outline"></ons-icon></div>
        <div class="action-label">Logs</div>
      </ons-col>

      <ons-col class="action-col">
        <div class="action-icon"><ons-icon icon="ion-gear-a"></ons-icon></div>
        <div class="action-label">Settings</div>
      </ons-col>
    </ons-row>
  </ons-list-item></ons-list>

  <ons-row style="margin-top:10px;margin-bottom:10px;">
    <ons-col width="300px">
      <input type="text" class="text-input" ng-model="todoContent" placeholder="ToDo" style="margin-left:10px;width:100%;height:40px"></input>
    </ons-col>
    <ons-col>
      <ons-button modifier="cta" style="margin-left:30px" ng-mousedown="tapAddBtn()">ADD</ons-button>
    </ons-col>
  </ons-row>

  <ons-scroller style="height:260px">
      <ons-list>
        <ons-list-item ng-repeat="data in datas">
          <label class="checkbox checkbox--list-item">
            <input type="checkbox" ng-model="data.checked" ng-checked="data.complete" ng-click="toggleCheck()"></input>
            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
            {{data["title"]}}
            <span class="list-item-action" ng-click="deleteData($index)">
              <ons-icon icon="ion-close" size="22px"></ons-icon>
            </span>
          </label>
        </ons-list-item>
      </ons-list>
    </ons-scroller>
</ons-page>
